/node_modules
/pdf
/cert
/public/games/neofighter8
/public/games/jfighter
/public/audio
/public/videos
/public/images
/public/fonts
/public/private
/trayapp/node_modules
/video-call-WebRTC/cert
/video-call-WebRTC/cert/localhost.cert
.env
.DS_Store
.pdf
.cert
.key
.vscode
