<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">

<title>Games</title>
</head>
<body>
<nav>
    <h2>Games</h2>
    <ul>
    <li><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></li>
    </ul>
</nav>

{{#if user}}
<h2 class="display-4">Hello, player {{user.name}}</h2> 
    <li><a href="/games/neofighter8/index.html">NeoFighter</a></li>
    <li><a href="/games/jfighter/index.html">JFighter</a></li>
{{else}}
<h1 class="display-4">please login</h1>
<p class="lead">
<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</p>
{{/if}}

</body>
</html>