<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="./style.css">

  <title>http://kaiqa.duckdns.org/</title>
</head>
<body>
  <nav>
    <h2>Home</h2>
    <ul>
      <li><a href="/">Home</a></li>
      {{#if user}}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {{/if}}
    </ul>
  </nav>
 
 <div class = "container mt-4">
        <div class="jumbotron">
    {{#if user.name}}
    <span class="border border-white">
    <img src="/images/logo.png" alt="..." class="rounded-circle">
    </span>

       <h1 class="display-4">Hello, {{user.name}}</h1>   
       
       <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yPu6qV5byu4" allowfullscreen></iframe>
        </div>
        
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4HuAnM6b2d8" allowfullscreen></iframe>
        </div>


          

      {{else}}
        <h1 class="display-4">Hello, please login</h1>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        </p>
    {{/if}}
  
  
</div>
 

</body>
</html>